:root {
  --primery-color: #222831;
  --secondery-color: #393e46;
  --third-color: #00adb5;
  --text-color: #eeeeee;
  --error-color: #ff0000;
}
body {
  background: url(./material/pexels-spacex-23769.jpg);
  background-repeat: 0 0;
  background-position: 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  background-color: rgba(0, 0, 0, 0.616);
  width: 90%;
  height: 90%;
  border: var(--text-color) 0.2rem solid;
  overflow: hidden;
  display: flex;
  border-radius: 2rem;
}
/*nav bar*/
.nav-bar {
  background-color: var(--primery-color);
  min-width: 15%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.nav-bar .logo--white,
.nav-bar .logo--white img {
  width: 17rem;
}
.nav-bar .logo--white {
  height: 3rem;
}
.nav-bar__list {
  list-style: none;
}
.nav-bar__list li {
  border-radius: 1rem;
  padding: 2rem;
}
.nv-bar__list li span {
  color: var(--text-color);
  font-size: 2rem;
}
.nav-bar__list li i {
  font-size: 2rem;
  margin-right: 1.5rem;
}
.nav-bar .nav-bar__list__selected,
.nav-bar__list__selected span,
.nav-bar__list__selected i {
  background: var(--third-color);
  color: var(--primery-color);
}
.nav-bar__user span {
  font-size: 2rem;
}
.nav-bar__user i {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
/*contant*/
.content {
  min-width: 75%;
  flex-grow: 10;
  overflow-y: scroll;
  overflow-x: hidden;
}
/*home*/
.home {
  width: 100%;
  padding: 3rem;
}
.home__header {
  text-align: center;
}
.home__header p {
  margin-top: 2rem;
  font-size: 1.5rem;
}
/*main*/
.home__mian {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home__main__compony {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
.home__main__compony__about {
  width: 80rem;
  height: 30rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--secondery-color);
  text-align: center;
}
.home__main__compony__about h2 {
  margin-bottom: 2rem;
}
.home__main__compony__about a i {
  font-size: 1.5rem;
  color: var(--third-color);
}
.home__main__compony__founders {
  width: 75%;
  padding: 2rem;
  margin-top: 4rem;
  text-align: center;
}

.founder-card {
  height: 20rem;
  position: relative;
  background: linear-gradient(
    105deg,
    var(--secondery-color),
    var(--third-color) 125%
  );
  margin-top: 7rem;
  padding-top: 6rem;
  border-radius: 2rem;
}
.founder-card img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  right: calc(50% - 5rem);
  top: -5rem;
}
/*ship card*/
.ships {
  display: grid;
  grid-template-columns: repeat(3, minmax(15rem, 1fr));
  gap: 2rem;
  padding: 2rem;
}
.ships__card {
  width: 100%;
  height: 20rem;
  border-radius: 2rem;
  border: var(--third-color) 0.2rem solid;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  justify-self: center;
  cursor: pointer;
}
.ships__card img {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0%;
  object-fit: cover;
  z-index: -7;
  transition: all 0.3s;
}
.ships__card:hover img {
  z-index: 10;
  height: 100%;
}

.ship__card__info {
  height: 50%;
  background-color: var(--secondery-color);
  padding-left: 2rem;
  z-index: 2;
}
.favorite-btn {
  position: absolute;
  top: -2rem;
  right: 1rem;
  background-color: var(--third-color);
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.ships__card:hover .favorite-btn {
  top: 1rem;
  z-index: 20;
}
/*modal*/
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
}
.overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-color: #22283183;
}
.modal__content {
  width: 50%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 2rem;
  overflow: hidden;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: var(--secondery-color);
}
.modal__content img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.modal__ship-ditels {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
  grid-template-rows: repeat(3, minmax(10rem, 1fr));
  height: 50%;
  justify-items: center;
}
.modal__title {
  position: absolute;
  top: -10rem;
  text-align: center;
  color: #393e46;
}
.modal__title p {
  text-transform: uppercase;
  margin-top: 1rem;
}
.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.modal__close i {
  font-size: 3rem;
}
@media screen and (max-width: 720px) {
  .app {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0%;
    flex-direction: column-reverse;
  }
  .nav-bar {
    flex-direction: row;
  }
  .nav-bar .logo--white {
    display: none;
  }
  .nav-bar__list {
    display: flex;
  }
  .nav-bar__list li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
  }
  .nav-bar__list li span {
    display: none;
  }
  #navbar-user-name {
    display: none;
  }
  .ships {
    grid-template-columns: 1fr;
  }
}
